/* estilização para tirar os espaçamentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* definindo uma outra fonte para o blog */
body {
  font-family: Arial, sans-serif;
  
}

/* estilização do cabeçalho */
header {
  background-color: #1ABC9C;
  color: #FFF;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 20%;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

button#light {
display: none;
}

nav {
  background-color: #333;
  position: sticky;
  top: 0;
}

ul {
    list-style-type: none;
    display: flex;
  }

li a {
    color: #FFF;
    margin: 0 10px;
    text-decoration: none;
    padding: 8px 5px;
    display: inline-block;
  }

li a:hover {
    background-color: #DDD;
    color: #333;
  }

  /* botão de menu */
  button.menu-button {
    display: none
  }

/* container maior */
section {
  display: flex;
}

/* conteúdo lateral */
aside {
    background-color: #d5d5d5;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

section.about, section.more {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* conteúdo principal */
main {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

main h2, main .center {
  text-align: center;
  margin: 0;
}

main p {
  text-align: justify;
  margin-top: 20px;
}

/* figuras */
figure.picture {
  width: 100%;
  text-align: center;
}

figure.picture img {
  width: 100%;
}

figure.picture img.img-main {
  width: 70%;
  margin: 0 auto;
}


/* footer */
footer {
  background-color: #DDD;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #000;
}

/* responsividade */

@media screen and (max-width: 630px) {

  button.menu-button {
    display: block;
    cursor: pointer;

  }

  .close{
    display: none;
  }

  .open {
    display: block;
  }

  nav ul {
    justify-content: center;
  }

  section {
    flex-direction: column-reverse;
  }

  aside, main {
    text-align: center;
    width: 100%;
  }
}

/* telas menores */

@media screen and (max-width: 320px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}